.DS_Store
.vscode 
.venv/
# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

/temp.py 

# ignore nfs temp files 
.nfs*

#ignore env't vars 
.env 

#ignore wandb files 
ml/wandb/
/wandb 


#ignore plots 
*.png

#ignore huggingface space 
/scriptify-hf-space 